<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="moongooseorg" value="https://nuget.pkg.github.com/moongooseorg/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <moongooseorg>
      <add key="Username" value="%GITHUB_USER%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </moongooseorg>
  </packageSourceCredentials>
</configuration>